<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3>간단 메세지 체크</h3>
        <label 방 번호 선택></label>
        <input id="roomId" type="text" min="1" placeholder="방 UUID"></br>
        <input id="sender" type="text" placeholder="이름 설정"></br>
        <input id="btn1" type="submit" onclick="sub()" value="연결">
        <input id="btn2" type="submit" onclick="unsub()" value="연결해제">

    </div>
    <div>
        <h3>보낼 메세지</h3>
        <input id="content" type="text" placeholder="보낼 메세지">
        <input type="submit" onclick="send()">
    </div>
    <div id="monitor">

    </div>
    


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>

    function sub(){
        const roomId = document.getElementById('roomId').value;
        // 현제 인증 기능이 없어서 X-Auth-User 정보를 받아올 방법이 없어 임시로 생성
        // 나중에 JWT 토큰 등으로 인증 기능이 생기면 헤더에서 가져와서 세팅해야함
        const sender = document.getElementById('sender').value;
        const monitor = document.getElementById('monitor');

        //var socket = new SockJS('/ws-stomp');
        // 이렇게 하면 SpringBoot 재가동 없이 테스트 가능
        // 채팅서버이므로 Eureka가 아닌 직접 연결해야 할 것 같음
        stompClient = Stomp.client(`ws://56.155.12.67:8070/ws-stomp`);
        var header = {
            'sender': `${sender}`
        };
        console.log(header.sender);
        stompClient.connect(header, function(frame){console.log('Connected : '+frame)});
        monitor.innerHTML += `connected '${header.sender}'</br>`;

        // 크롬환경에서 local테스트 중이면 allow-cors 확장자를 받아서 할 것
        // 지금은 할 필요 없는듯?
        
        // 방 번호를 바꿨다면 기존 subscribe는 끊어야 안받음
        // 1. 방이 있는지 검사
        axios.get(`http://13.208.145.12:8080/room/${roomId}`, {headers:{"X-Auth-User":`${sender}`}})
        .then(function(response){
            // 2. 방이 있으면 접속
            const room = response.data;
            console.log(room.roomUUID);
            console.log(roomId);

            if(room.roomUUID==roomId){
                stompClient.subscribe(`/sub/chat/room/${roomId}`, chatting , {id:`cus-${roomId}`});
                // 해당 채팅방 내역 다 불러오기
                axios.get(`http://13.208.145.12:8080/chat/room/${roomId}`)
                .then(function(response){
                    // 채팅 내역이 list로 올 예정, 이후 채팅 시간 순으로 불러오는 기능 추가 예정
                    console.log("채팅창 불러오는중...");
                    response.data.map(function(data){
                        monitor.innerHTML += `${data.sender}: ${data.content}</br>`;
                    });
                })
                .catch(function(error){
                    console.log("채팅창 불러오기 실패");
                })

            }
            else{
                console.log(`해당 방 없음, 방을 만들고 오세요`);
            }
            
        })
        .catch(function(error){
            // 4. 접속오류
            console.log(`접속오류`);
        })
    }

    chatting = function(response){
        // 메세지를 받으면 처리할 행동 정의
        const monitor = document.getElementById('monitor');
        console.log("메세지 도착")
        
        if(response.body){
            const res = JSON.parse(response.body);
            const head = response.header;
            console.log(head);
            // 내용 출력
            monitor.innerHTML += `${res.sender}: ${res.content} </br>`;
        }
    }

    function unsub(){
        var roomId = document.getElementById('roomId').value;
        const monitor = document.getElementById('monitor');
        stompClient.unsubscribe(`cus-${roomId}`);
        stompClient.disconnect(function(){
            // 내용 출력
            monitor.innerHTML += `disconnect </br>`;
        });
    }

    function send(){
        //JSON
        var roomUUID = document.getElementById('roomId').value;
        var sender = document.getElementById('sender').value;
        var content = document.getElementById('content').value;
        message = {
            'roomUUID':roomUUID,
            'sender':sender,
            'content':content
        }
        stompClient.send(`/pub/room/${roomUUID}/message`, {}, JSON.stringify(message));
    }
</script>
</html>